extends ../_layout

block custom-styles
    link(rel="stylesheet", href="/static/styles/user-messages.css")

block body-content
    div.container
        div.row
            div.col-md-12
                h2(class="text-center")
                    | Кореспонденция
                br

        div.row
            div.col-md-12
        div.row
            div.col-md-9
                div.row
                    div.col-md-12
                        form(method="post" action=`${result.id}`)
                            div.row
                                div.col-md-1
                                    div.circle-avatar
                                        img.img-circle(src=`${result.user.picture}`, "User image")
                                div.col-md-10
                                    textarea(class="form-control" rows="6" name="inputData")
                            div.row
                                div.col-md-1
                                div.col-md-2
                                    button(class="btn btn-success btn-sm" title="Send Message") Send Message
                        div.row
                            br
                        div.row
                            div.col-md-12
                        each message in result.messages
                            div.row
                                div.col-md-1
                                    div.circle-avatar
                                        if message.sender === result.renter.username
                                            img.img-circle(src=`${result.renter.imageUrl}`, "User image")
                                        else
                                            img.img-circle(src=`${result.carOwner.imageUrl}`, "User image")
                                div.col-md-8
                                    span= message.text
                                div.col-md-3
                                    span= message.date.toLocaleString('en-US', { hour12: false })
            
            div.col-md-3
                if result.user.username === result.carOwner.username                                   
                    img#renter-img-id(src=`${result.renter.imageUrl}`, "User image")
                    p= `${result.renter.username}`
                else
                    img#car-owner-img-id(src=`${result.carOwner.imageUrl}`, "User image")
                    p= `${result.carOwner.username}`