extends ../_layout

block custom-styles
    link(rel="stylesheet", href="/static/styles/user-messages.css")

block body-content
    div.container
        div.row
            div.col-md-12
                h2(class="text-center")
                    | Съобщения
                br

        div.row
            div.col-md-12
                div.col-md-2.text-center <span>User</span>
                div.col-md-1.text-center <span>Image</span>
                div.col-md-5.text-center <span>Message</span>
                div.col-md-2.text-center <span>Date</span>
                div.col-md-2.text-center <span>Address</span>    
        div.row
            div.col-md-12
            each correspondence in result.correspondences                
                a.row.correspondence-link(href=`messages/${correspondence._id}`)
                    if correspondence.messages.reverse()[0].sender === correspondence.renter.username
                        div.col-md-2
                            span= `${correspondence.renter.username}`
                        div.col-md-1  
                            div.circle-avatar
                                img.img-circle(src=`${correspondence.renter.imageUrl}`, "User image")
                        div.col-md-5
                            span= correspondence.messages.reverse()[0].text
                        div.col-md-2
                            span= correspondence.messages.reverse()[0].date.toLocaleString('bg-BG')
                    else
                        div.col-md-2
                            span= `${correspondence.car.owner.firstName} ${correspondence.car.owner.lastName}`
                        div.col-md-1  
                            div.circle-avatar
                                img.img-circle(src=`${correspondence.carOwner.imageUrl}`, "User image")
                        div.col-md-5
                            span= correspondence.messages.reverse()[0].text
                        div.col-md-2
                            span= correspondence.messages.reverse()[0].date.toLocaleString('bg-BG')
                        div.col-md-2
                            span= `${correspondence.car.owner.city}`