extends ../_layout

block custom-styles
    link(rel="stylesheet", href="/static/styles/user-messages.css")

block body-content
    div.container
        div.row
            div.col-md-12
                h2(class="text-center")
                    | Съобщения
                br

        div.row
            div.col-md-12
                div.col-md-2.text-center <span>User</span>
                div.col-md-1.text-center <span>Image</span>
                div.col-md-5.text-center <span>Message</span>
                div.col-md-2.text-center <span>Date</span>
                div.col-md-2.text-center <span>Address</span>    
        div.row
            div.col-md-12
            each correspondence in result.correspondences                
                a.row.correspondence-link(href=`messages/${correspondence._id}`)
                    if correspondence.messages.reverse()[0].sender === correspondence.renter.username
                        div.col-md-2
                            span= `${correspondence.renter.username}`
                        div.col-md-1  
                            div.circle-avatar
                                img.img-circle(src=`${correspondence.renter.imageUrl}`, "User image")
                        div.col-md-5
                            span= correspondence.messages.reverse()[0].text
                        div.col-md-2
                            span= correspondence.messages.reverse()[0].date.toLocaleString('bg-BG')
                    else
                        div.col-md-2
                            span= `${correspondence.car.owner.firstName} ${correspondence.car.owner.lastName}`
                        div.col-md-1  
                            div.circle-avatar
                                img.img-circle(src=`${correspondence.carOwner.imageUrl}`, "User image")
                        div.col-md-5
                            span= correspondence.messages.reverse()[0].text
                        div.col-md-2
                            span= correspondence.messages.reverse()[0].date.toLocaleString('bg-BG')
                        div.col-md-2
                            span= `${correspondence.car.owner.city}`


                    //- div.col-md-2
                    //-     span= `${correspondence.sender.address.city}, ${correspondence.sender.address.street}`



//- extends ../_layout

//- block custom-styles
//-     link(rel="stylesheet", href="/static/styles/user-messages.css")

//- block body-content
//-     div.container
//-         div.row
//-             div.col-md-12
//-                 h2(class="text-center")
//-                     | Съобщения
//-                 br

//-         div.row
//-             div.col-md-12
//-                 div.col-md-2.text-center <span>User</span>
//-                 div.col-md-1.text-center <span>Image</span>
//-                 div.col-md-5.text-center <span>Message</span>
//-                 div.col-md-2.text-center <span>Date</span>
//-                 div.col-md-2.text-center <span>Address</span>    
//-         div.row
//-             div.col-md-12
//-             each correspondence in result.correspondences                
//-                 a.row.correspondence-link(href=`messages/${correspondence.id}`)                      
//-                     div.col-md-2
//-                         span= `${correspondence.sender.firstName} ${correspondence.sender.lastName}`
//-                     div.col-md-1
//-                         div.circle-avatar
//-                             img.img-circle(src=`${correspondence.sender.pictureUrl}`, "User image")
//-                     div.col-md-5
//-                         span= correspondence.message.text
//-                     div.col-md-2
//-                         span= correspondence.message.datetime
//-                     div.col-md-2
//-                         span= `${correspondence.sender.address.city}, ${correspondence.sender.address.street}`

    //- div.correspondence
    //-     table.table.table-hover.table-responsive
    //-         thead
    //-             tr
    //-             th.text-center <span>User</span>
    //-             th.text-center <span>Image</span>
    //-             th.text-center <span>Message</span>
    //-             th.text-center <span>Date</span>
    //-             th.text-center <span>Address</span>                                    
    //-             th &nbsp;
    //-         tbody
    //-         each correspondence in result.correspondences
    //-             tr
    //-                 td
    //-                     span= `${correspondence.sender.firstName} ${correspondence.sender.lastName}`
    //-                 td
    //-                     div.circle-avatar
    //-                         img.img-circle(src=`${correspondence.sender.pictureUrl}`, "User image")
    //-                 td
    //-                     span= correspondence.message.text
    //-                 td
    //-                     span= correspondence.message.datetime
    //-                 td
    //-                     span= `${correspondence.sender.address.city}, ${correspondence.sender.address.street}`

//- button(class="btn btn-default btn-lg" title="Compose New" data-toggle="modal" data-target="#modalCompose") New Message

//-     div(id="modalCompose" class="modal fade")
//-         div(class="modal-dialog")
//-         div(class="modal-content")
//-             div(class="modal-header")
//-             button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
//-             h4(class="modal-title") Compose Message
            
//-             div(class="modal-body")
//-             form(role="form" class="form-horizontal")
//-                 div(class="form-group")
//-                     label(class="col-sm-2" for="inputTo") To
//-                     div(class="col-sm-10") 
//-                         input(type="email" class="form-control" id="inputTo" placeholder="comma separated list of recipients")

//-                 div(class="form-group")
//-                     label(class="col-sm-2" for="inputSubject") Subject
//-                     div(class="col-sm-10") 
//-                         input(type="text" class="form-control" id="inputSubject" placeholder="subject")

//-                 div(class="form-group")
//-                     label(class="col-sm-12" for="inputBody") Message
//-                     div(class="col-sm-12") 
//-                         textarea(class="form-control" id="inputBody" rows="12")
//-             div(class="modal-footer")
//-             button(type="button" class="btn btn-default pull-left" data-dismiss="modal") Cancel 
//-             button(type="button" class="btn btn-primary ") Send 
//-                 i(class="fa fa-arrow-circle-right fa-lg")